.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.cargo/
.dmrc
.gitconfig
.pki/
.xsession-errors
.local/state/
.config/google-chrome/
.config/mimeapps.list
.config/pulse/
.local/state/
.local/share/applications/
.local/share/nvim/
mis-config-arch/
yoru/
.zsh_history
.wget-hsts
.zcompdump
.xsession-errors.old
.config/pavucontrol.ini
.config/neofetch/
.config/dconf/
.local/share/recently-used.xbel
.npm
.viminfo
Downloads
.local/share/keyrings
